**Module for VIX data update**

In [9]:
from datetime import datetime, date
import pandas as pd # pandas time series library
import pandas.tseries as ts

In [19]:
m_codes = ['F','G','H','J','K','M','N','Q','U','V','X','Z'] #month codes of the futures
codes = dict(zip(range(1,13),m_codes))

def vixExpiration(year,month):
    """
    expiration date of a VX future
    
    """
    t = datetime(year,month,1)+ts.offsets.DateOffset(months=1)
    
    
    offset = ts.offsets.Week(weekday=4)
    if t.weekday()!=4:
        t_new = t+3*offset
    else:
        t_new = t+2*offset    
    
    t_exp = t_new-ts.offsets.DateOffset(days=30)
    return t_exp

def checkForUpdate(vixfut):
    '''
    check VIX index prices for latest date, return the VIX table as a dataframe if update needed
    
    '''
    existDate = vixfut.index[-1]
    expiry = vixExpiration(existDate.year,existDate.month)

    urlStr = "http://www.cboe.com/publish/ScheduledTask/MktData/datahouse/vixcurrent.csv"
    vix = pd.read_csv(urlStr,index_col=0, header=1,dayfirst=False,parse_dates=True) # read CBOE csv into dataframe
    vix = vix[vix.index > existDate]   # only keep new data rows
    
    urlStr = "http://www.cboe.com/publish/scheduledtask/mktdata/datahouse/vxvdailyprices.csv"
    vxv = pd.read_csv(urlStr,index_col=0, header=2,dayfirst=False,parse_dates=True) # read CBOE csv into dataframe
    vxv = vxv[vxv.index > existDate]   # only keep new data rows
    
    if not len(vix):
        print ("VIX futures data is up to date as of ", existDate.date())
        return
    else:
        print ("Existing: {0}  Current: {1}".format(existDate.date(),vix.index[-1].date()))
        return vix, vxv, existDate, expiry

def updateVixData(saveToPath,vixfut):
    try:
        vix_df, vxv_df, existDate, expiry = checkForUpdate(vixfut)
    except Exception as e:
        return vixfut

    vixPrices = [[]for i in range(11)]    # create empty list for each vix contract

    for j in range(len(vix_df)):   # fill in date
        vixPrices[0].append(vix_df.index[j])

    for j in range(len(vix_df)):   # fill in VIX spot price
        vixPrices[1].append(vix_df['VIX Close'][j])

    for j in range(len(vix_df)):   # fill in VXV spot price
        vixPrices[10].append(vxv_df['CLOSE'][j])
        
    # download futures prices from historical price csv's
    if len(vix_df) > 1:
        sMonth = existDate.month
        next_month = 1 if existDate > expiry else 0
        year = existDate.year
        newSettle = pd.Series(data=0)
        for i in range(8):
            month = 12 if (sMonth + i) == 12 else divmod((sMonth + i), 12)[1]
            monthSymbol = codes[month+next_month]
            next_year = 1 if (sMonth + i) > 12 else 0
            fName = "CFE_{0}{1}_VX.csv".format(monthSymbol, str(year + next_year)[-2:])
            urlStr = "http://cfe.cboe.com/Publish/ScheduledTask/MktData/datahouse/{0}".format(fName)
            df_fut = pd.read_csv(urlStr,index_col=0, header=1,dayfirst=False,parse_dates=True) # read CBOE csv into dataframe
            df_fut = df_fut[df_fut.index > existDate]
            print ('Downloaded {0}'.format(fName))
            for j in range(len(df_fut)):
                #print ('i: ', i, 'j: ',j)
                vixPrices[i+2].append(df_fut['Settle'][j])

    # download prices from the latest day
    urlStr = "http://cfe.cboe.com/data/DailyVXFuturesEODValues/DownloadFS.aspx"
    df_settle = pd.read_csv(urlStr, header=0) # read CBOE csv into dataframe

    df_settle = df_settle[df_settle.Symbol.str.startswith('VX ')]
    df_settle = df_settle.reset_index()
    settle = df_settle['SettlementPrice']

    for j in range(8):
        vixPrices[j+2].append(settle[j])

    
    d = dict(list(zip(list(vixfut), vixPrices[1:]))) # create a dictionary with vixfut-vixPrices pairs, exclude column 0
    df_new = pd.DataFrame(d, index = pd.Index(vixPrices[0]))
    df_new = df_new[list(vixfut)]   # reorder columns: move VIX to the left
    vixfut = vixfut.append(df_new)
    vixfut.to_csv(saveToPath)
    return vixfut

In [11]:
path2 = r'C:\Users\chekitsch\Documents\Trading\Historical data\VIX\term_structure.csv'
vixfut = pd.read_csv(path2, index_col=0, header = 0, parse_dates=True)

In [20]:
updateVixData(path2, vixfut)

Existing: 2017-05-11  Current: 2017-05-12

,VIX,UX1,UX2,UX3,UX4,UX5,UX6,UX7,UX8,VXV
2004-03-26,17.33,20.320,20.160,NaN,20.110,NaN,NaN,NaN,NaN,NaN
2004-03-29,16.50,19.800,19.770,NaN,19.680,NaN,NaN,NaN,NaN,NaN
2004-03-30,16.28,19.620,19.790,NaN,19.910,NaN,NaN,NaN,NaN,NaN
2004-03-31,16.74,19.750,19.850,NaN,20.150,NaN,NaN,NaN,NaN,NaN
2004-04-01,16.65,19.620,19.610,NaN,20.200,NaN,NaN,NaN,NaN,NaN
2004-04-02,15.64,18.890,19.160,NaN,20.050,NaN,NaN,NaN,NaN,NaN
2004-04-05,14.97,18.530,18.620,NaN,19.970,NaN,NaN,NaN,NaN,NaN
2004-04-06,15.32,18.790,18.790,NaN,20.280,NaN,NaN,NaN,NaN,NaN
2004-04-07,15.76,19.090,19.120,NaN,20.540,NaN,NaN,NaN,NaN,NaN
2004-04-08,16.26,19.050,19.000,NaN,20.510,NaN,NaN,NaN,NaN,NaN
2004-04-12,15.28,18.670,18.900,NaN,20.340,NaN,NaN,NaN,NaN,NaN
2004-04-13,17.26,19.300,19.290,NaN,20.740,NaN,NaN,NaN,NaN,NaN
2004-04-14,15.62,19.460,19.470,NaN,20.270,NaN,NaN,NaN,NaN,NaN
2004-04-15,15.74,19.350,19.470,NaN,20.430,NaN,NaN,NaN,NaN,NaN
2004-04-16,14.94,19.000,19.430,NaN,20.260,NaN,NaN,NaN,NaN,NaN
2004-04-19,15.42,18.870,19.680,NaN,20.370,NaN,NaN,NaN,NaN,NaN
2004-04-20,16.67,19.150,19.960,NaN,20.520,NaN,NaN,NaN,NaN,NaN
2004-04-21,15.60,18.680,19.700,NaN,20.220,NaN,NaN,NaN,NaN,NaN
2004-04-22,14.61,17.350,18.770,NaN,19.670,NaN,NaN,NaN,NaN,NaN
2004-04-23,14.01,17.340,19.090,NaN,19.810,NaN,NaN,NaN,NaN,NaN
2004-04-26,14.77,17.130,18.960,NaN,19.810,NaN,NaN,NaN,NaN,NaN
2004-04-27,15.07,16.800,18.770,NaN,19.800,NaN,NaN,NaN,NaN,NaN
2004-04-28,16.29,17.370,19.270,NaN,20.260,NaN,NaN,NaN,NaN,NaN
2004-04-29,16.60,17.770,19.640,NaN,20.680,NaN,NaN,NaN,NaN,NaN
2004-04-30,17.19,18.220,19.850,NaN,20.930,NaN,NaN,NaN,NaN,NaN
2004-05-03,16.62,17.690,19.270,NaN,20.610,NaN,NaN,NaN,NaN,NaN
2004-05-04,16.55,17.310,19.200,NaN,20.450,NaN,NaN,NaN,NaN,NaN
2004-05-05,15.77,16.620,18.790,NaN,20.260,NaN,NaN,NaN,NaN,NaN
2004-05-06,17.05,17.480,19.410,NaN,20.680,NaN,NaN,NaN,NaN,NaN
2004-05-07,18.13,18.310,19.870,NaN,21.190,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2017-03-31,12.37,13.275,13.575,14.250,15.025,15.475,16.275,16.725,17.050,13.60
2017-04-03,12.38,13.575,14.275,15.075,15.575,16.325,16.725,17.050,17.150,13.67
2017-04-04,11.79,13.375,14.125,14.925,15.375,16.125,16.475,16.800,16.900,13.37
2017-04-05,12.89,13.875,13.875,14.525,15.275,15.675,16.425,16.725,17.025,14.12
2017-04-06,12.39,13.525,14.175,14.975,15.375,16.075,16.475,16.775,16.850,13.66
2017-04-07,12.87,13.875,14.525,15.225,15.600,16.300,16.675,16.975,17.000,14.06
2017-04-10,14.05,14.325,14.775,15.425,15.775,16.475,16.825,17.100,17.175,14.58
2017-04-11,15.07,14.525,14.875,15.525,15.875,16.525,16.875,17.125,17.200,15.16
2017-04-12,15.77,14.925,15.025,15.575,15.875,16.575,16.875,17.175,17.225,15.28
2017-04-13,15.96,15.225,15.275,15.825,16.100,16.750,17.075,17.300,17.275,15.75
2017-04-17,14.66,14.325,14.575,15.225,15.575,16.275,16.575,16.900,17.000,14.86
2017-04-18,14.42,14.325,14.525,15.175,15.475,16.225,16.575,16.875,16.925,14.76
2017-04-19,14.93,14.575,14.525,15.125,15.425,16.175,16.575,16.875,16.925,15.08
2017-04-20,14.15,14.325,14.325,14.975,15.375,16.175,16.575,16.875,16.900,14.53
2017-04-21,14.63,14.325,14.225,14.825,15.175,15.925,16.350,16.725,16.750,14.75
2017-04-24,10.84,12.675,13.325,14.175,14.725,15.575,16.025,16.375,16.475,12.90
2017-04-25,10.76,12.475,13.125,13.975,14.425,15.225,15.675,16.025,16.150,12.85
2017-04-26,10.85,12.375,13.175,14.075,14.525,15.325,15.725,16.075,16.225,12.98
2017-04-27,10.36,12.375,13.125,14.075,14.575,15.375,15.800,16.125,16.250,12.80
2017-04-28,10.82,12.275,13.125,14.000,14.475,15.275,15.700,16.075,16.200,12.93
2017-05-01,10.11,11.825,12.625,13.575,14.125,14.925,15.325,15.725,15.850,12.63
2017-05-02,10.59,11.825,12.825,13.725,14.225,15.025,15.425,15.775,15.925,12.83
2017-05-03,10.68,12.075,12.975,13.875,14.325,15.125,15.525,15.875,16.050,13.09
2017-05-04,10.46,11.725,12.675,13.575,14.125,14.925,15.375,15.775,15.950,12.83
2017-05-05,10.57,11.775,12.675,13.675,14.225,15.075,15.525,15.925,16.100,12.85
2017-05-08,9.77,11.425,12.475,13.675,14.325,15.175,15.625,16.025,16.200,12.59
2017-05-09,9.96,11.425,12.475,13.675,14.325,15.175,15.625,16.025,16.200,12.71
2017-05-10,10.21,11.525,12.475,13.675,14.425,15.275,15.725,16.125,16.300,12.91
2017-05-11,10.60,11.425,12.625,13.675,14.375,15.275,15.725,16.125,16.300,13.01
2017-05-12,10.40,11.225,12.425,13.625,14.425,15.325,15.825,16.225,16.375,12.97

In [8]:
vixExpiration(2017,5)

Timestamp('2017-05-17 00:00:00')

In [17]:
checkForUpdate(vixfut)

Existing: 2017-05-11  Current: 2017-05-12

(            VIX Open  VIX High  VIX Low  VIX Close
 Date
 2017-05-12     10.72     10.87    10.28       10.4,
              OPEN   HIGH    LOW  CLOSE
 2017-05-12  13.02  13.15  12.94  12.97,
 Timestamp('2017-05-11 00:00:00'),
 Timestamp('2017-05-17 00:00:00'))